[Unit]
Description=Cinema Guide Backend Service
After=network.target

[Service]
Type=simple
User=ubuntu
Environment="SPRING_PROFILES_ACTIVE=prod"
WorkingDirectory=/opt/cinema-guide/backend
ExecStart=/usr/bin/java -jar backend.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target